<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.inhatc.mapper.AlertMapper">


	<insert id="insertAlert">
		insert into tbl_alert (bno,category,title,content,writer,writeday)
		values
		(#{bno}, #{category}, #{title}, #{content}, #{writer}, #{writeday})
	</insert>

		<select id="selectAlert" resultType="com.inhatc.domain.AlertVO">
		select
		*
		from
		tbl_alert
		where title=#{title}
	</select>
	

</mapper>